<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.display.springstudy.video.repository.VideoRepository">

    <select id="selectVideoList" resultType="video">
        SELECT *
        FROM PSS.VIDEO
    </select>

    <select id="selectVideoPageList" resultType="video">
        SELECT *
        FROM PSS.VIDEO
        <where>
            <if test="videoNm != null and videoNm !=''">
                AND videoNm LIKE CONCAT('%' #{videoNm,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <insert id="insertVideo">
        INSERT INTO PSS.VIDEO(detailsCd, videoCd, videoNm, poster, videoUrl)
        VALUES (#{detailsCd,jdbcType=VARCHAR}
            , #{videoNm,jdbcType=VARCHAR}
            , #{poster,jdbcType=VARCHAR}
            , #{videoUrl,jdbcType=VARCHAR}
        )
    </insert>
</mapper>