{{>layouts/header}}
<div class="container-md">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">썸네일</th>
            <th scope="col">방송 이름</th>
            <th scope="col">PD</th>
        </tr>
        </thead>
        <tbody>
            {{#posts}}
                <tr>
                    <td>{{userId}}</td>
                    <td>{{postId}}</td>
                    <td>{{postTitle}}</td>
                    <td>{{postContent}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
</div>
{{>layouts/footer}}